ul {
  background-color: green;
  text-align: center;
}
ul li {
  display: inline-block;
  padding: 10px;
  color: #fff;
  position: relative;
}
ul li ul {
  background-color: red;
  display: none;
}

/*        khi hover vao Li thi show ul con ra*/

ul li:hover ul {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  width: 200px;
}
ul li ul li {
  display: block;
  text-align: left;
}
